.about {
    padding: 60px 0;
    background: var(--black);
}

.about__title {
    color: var(--white);
}

.about__desc {
    font-family: Muller_Medium;
    margin-bottom: 15px;
}

.about__info-wrap p {
    color: var(--text_gray);
}

.about__top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.about__command-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    flex-wrap: wrap;
}

.about__command-card {
    padding: 20px 0;
}

.command-img {
    object-fit: contain;
}

.command-title {
    color: var(--white);
}

.command-subtitle {
    color: var(--text_gray);
}

.form {
    max-width: 920px;
}

.form__textarea {
    width: 100%;
    height: 150px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid var(--white);
    padding-top: 30px;
    padding-left: 30px;
    color: var(--white);
}

.form__input-wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-input {
    width: 100%;
    height: 70px;
    border: 1px solid var(--white);
    border-radius: 40px;
    padding-left: 30px;
    background: transparent;
}
.succes-lable{
    position: relative;
    color: var(--white);
    padding-left:20px;
}

.form-check{
    visibility: hidden;
    position: absolute;
}
.succes-lable:before{
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 14px;
    height: 14px;
    border: 1px solid var(--white);
}

form-check:checked+input{
   background: red;
}