.about {
    padding: 60px 0;
    background: var(--black);
}

.about__title {
    color: var(--white);
}

.about__desc {
    font-family: Muller_Medium;
    margin-bottom: 15px;
}

.about__info-wrap p {
    color: var(--text_gray);
}

.about__top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}
.form__textarea{
    margin-bottom: 20px;
}

.about__command-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.about__command-card {
    padding: 20px 0;
}

.command-img {
    object-fit: contain;
}

.command-title {
    color: var(--white);
}

.command-subtitle {
    color: var(--text_gray);
}

.form {
    max-width: 920px;
    font-size: var(--fz_12);
}

.form__textarea {
    width: 100%;
    height: 150px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid var(--white);
    padding-top: 30px;
    padding-left: 30px;
    color: var(--white);
}

.form__input-wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 70px;
    border: 1px solid var(--white);
    border-radius: 40px;
    padding-left: 30px;
    background: transparent;
}

.succes-lable {
    position: relative;
    color: var(--white);
    padding-left: 20px;
}

.form-check + span {
    position: absolute;
    left: 0;
    top: -3px;
    width: 14px;
    height: 14px;
    border: 1px solid var(--white);
}

.form-check + span:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 6px;
    height: 4px;
    opacity: 0;
    transform: rotate(-45deg);
    border-left: 2px solid var(--primary_light);
    border-bottom: 2px solid var(--primary_light);
    transition: opacity .2s ease-in-out;
}

.form-check {
    visibility: hidden;
    position: absolute;
}

.form-check:checked + span:before {
    opacity: 1;
}

.form-input {
    color: var(--white);
}