.btn {}
.btn-mini{
    position: relative;
    color: var(--black);
    border: 2px solid var(--black);
    padding: 8px 30px;
    border-radius: 77px;
    background-color: transparent;
    font-size: 1rem;
    transition: color .2s ease-in-out, border .2s ease-in-out,background-color .2s ease-in-out;
}
.btn-mini:hover{
    color: var(--white);
    background-color: var(--black);
}
.btn-mini:focus{
    color: var(--black);
    background-color: var(--base-color-light);
}
.btn-mini:active{
    color: var(--white);
    border: 2px solid var(--base-color);
    background-color: var(--base-color);
}
.btn-mini:focus>.archives{
    background-image: url(../img/archive.svg);
}
.btn-mini:hover>.archive{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5L1.5 5.25L9 9L16.5 5.25L9 1.5Z' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 12.75L9 16.5L16.5 12.75' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 9L9 12.75L16.5 9' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.btn-mini:active>.archive{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5L1.5 5.25L9 9L16.5 5.25L9 1.5Z' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 12.75L9 16.5L16.5 12.75' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 9L9 12.75L16.5 9' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.btn-search{
    width: 24px;
    height: 24px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image .2s ease-in-out;
    
}
.btn-search:hover{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    
}
.btn-search:focus{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    
}
.btn-search:active{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%234F28A5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    
}


.btn--bg {}

.btn-play {}
.btn-burger{
    display: none;
}

/* img for btns */
.archive{
    padding-left: 20px;
    background-image: url(../img/archive.svg);
    background-repeat: no-repeat;
    background-position: left center;
    transition: background-image .2s ease-in-out;
}
