:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --base-color: #6D31EE;
    --primary: #6D31EE;
    --base-color-light: #AA9DFA;
    --primary_light: #AA9DFA;
    --base-color-dark: #4F28A5;
    --primary_shade: #4F28A5;
    --light_color: #E6E8EC;
    --text_gray: #A1A6B4;
    --shade_gray: #D2D5DD;
    --red: #FF6F6F;
    --promo_color: #F0D288;
    --promo_color_shade: #BB973E;
    /* font sixe */
    --fz-20: 1.25rem;
    --fz-16: 1rem;
    --fz_12: 0.75rem;
    --title_h1_size: 3.75rem;
    --title_h2_size: 3rem;
    --title_h2_size: 3rem;
}

btn {
    padding: 40px;
}

.btn:active {
    color: var(--white);
    background-color: var(--primary_shade);
    border: 2px solid var(--primary_shade);
}

.btn--bg {
    color: var(--white);
    background-color: var(--primary);
}

.btn--bg:hover {
    color: var(--white);
    background-color: var(--primary_light);
    border: 2px solid var(--primary_light);
}

.btn--bg:focus {
    color: var(--white);
    background-color: var(--primary_light);
    border: 2px solid var(--primary_shade);
}

.btn--bg:active {
    color: var(--white);
    background-color: var(--primary_shade);
    border: 2px solid var(--primary_shade);
}

.btn-mini {
    position: relative;
    color: var(--black);
    border: 2px solid var(--black);
    padding: 8px 30px;
    border-radius: 77px;
    background-color: transparent;
    font-size: 1rem;
    transition: color .2s ease-in-out, border .2s ease-in-out, background-color .2s ease-in-out;
}

.btn-mini:hover {
    color: var(--white);
    background-color: var(--black);
}

.btn-mini:focus {
    color: var(--black);
    background-color: var(--base-color-light);
}

.btn-mini:active {
    color: var(--white);
    border: 2px solid var(--base-color);
    background-color: var(--base-color);
}

.btn-mini:focus>.archives {
    background-image: url(../img/archive.svg);
}

.btn-mini:hover>.archive {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5L1.5 5.25L9 9L16.5 5.25L9 1.5Z' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 12.75L9 16.5L16.5 12.75' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 9L9 12.75L16.5 9' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.btn-mini:active>.archive {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5L1.5 5.25L9 9L16.5 5.25L9 1.5Z' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 12.75L9 16.5L16.5 12.75' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 9L9 12.75L16.5 9' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.btn-search {
    width: 24px;
    height: 24px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image .2s ease-in-out;
}

.btn-search:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.btn-search:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.btn-search:active {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%234F28A5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.btn-play {
    position: relative;
    width: 42px;
    height: 42px;
    border: 1px solid var(--text_gray);
    border-radius: 100%;
    transition: border .1s ease-in-out;
}

.btn-play:hover {
    border: 1px solid var(--primary);
}

.btn-play:focus {
    border: 1px solid var(--primary_light);
}

.btn-play:active {
    border: 1px solid var(--primary_shade);
}

.btn-play::after {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-left: 12px solid var(--text_gray);
    top: 12px;
    left: 15px;
    transition: border-left .1s ease-in-out;
}

.btn-play:hover::after {
    border-left: 12px solid var(--primary);
}

.btn-play:focus::after {
    border-left: 12px solid var(--primary_light);
}

.btn-play:active::after {
    border-left: 12px solid var(--primary_shade);
}

.btn-play-mini {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--text_gray);
    transition: background-color .1s ease-in-out;
}

.btn-play-mini:hover {
    background-color: var(--primary);
}

.btn-play-mini:focus {
    background-color: var(--primary_light);
}

.btn-play-mini:active {
    background-color: var(--primary_shade);
}

.btn-play-mini::after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    /* Прозрачные границы */
    border-top: 9px solid var(--white);
    transform: rotate(-90deg);
    top: 3px;
    left: 10px;
    transition: border-top .1s ease-in-out;
}

.btn-burger {
    display: none;
}

.media-btn {
    /* background-size: 12px; */
    background-repeat: no-repeat;
    background-position: 3px 1px;
    padding: 1px;
    background-color: transparent;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.media-btn:hover {
    color: var(--primary);
}

.media-btn:focus {
    color: var(--white);
    background-color: var(--primary_light);
}

.media-btn:active {
    color: var(--primary_shade);
    background-color: transparent;
}


/* img for btns */

.archive {
    padding-left: 20px;
    background-image: url(../img/archive.svg);
    background-repeat: no-repeat;
    background-position: left center;
    transition: background-image .2s ease-in-out;
}