.footer {
    background-color: var(--light_black);
}

.footer__content-wrap {
    padding: 94px 0 66px 0;
    display: flex;
    justify-content: space-between;
}

.footer__right-wrap {
    display: flex;
}
.column__menu-list{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0px 104px;
    margin-right: -20px;

}

.column__menu-item a {
    color: var(--white);
}

.column__menu-item:not(:last-child) {
    margin-bottom: 20px;
}

.footer__bottom p {
    display: flex;
    justify-content: center;
    color: var(--text_gray);
}

.footer__bottom p {
    padding: 10px 0;
}

.footer__bottom {
    position: relative;
    padding-top: 10px;
}

.footer__bottom::before {
    content: url("../img/wave-footer.svg");
    position: absolute;
    top: 0;
}

.social-list {
    display: flex;
}

.social-item:not(:last-child) {
    margin-right: 20px;
}

.footer__social {
    margin-top: 17px;
}
.footer__social-list{
    margin-left: 2px;
}

.footer__social-item:not(:last-child) {
    margin-right: 25px;
}