.footer{
    background-color: var(--light_black);
    padding-top: 60px;
}
.footer__content-wrap{
    display: flex;
    justify-content: space-between;
}
.column__menu-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer__bottom p{
    display: flex;
    justify-content: center;
    color: var(--white);
}

.footer__bottom p{
padding:20px 0;
}
.footer__bottom{
    position: relative;
    padding-top:30px;
}
.footer__bottom::before{
    content: url("../img/wave-footer.svg");
    position: absolute;
    top: 0;
}