.guests {
    background-color: var(--black);
    padding: 92px 0 102px 0;
}

.guests__content {
    display: flex;
    flex-direction: column;
}

.guests__title-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    margin-bottom: 50px;
}

.guests__title {
    margin-bottom: 7px;
}

.guests__desc {
    font-family: 'Muller_Medium';
    margin-bottom: 7px;
}
.guests__desc--alltext{
    line-height: 165%;
}
.guests__accordion-block {
    width: 100%;
}

.guests__profile {
    display: flex;
    justify-content: space-between;
}

.person-item {
    width: 350px;
}

.social-container {}

.social-list {}

.social-item {}

.social-link {}

.person-name {
    margin-bottom: 4px;
}


.person-social__container {
    padding: 8px 0;
    padding-left: 2px;
    display: flex;
}

.person-social__item:not(:last-child) {
    margin-right: 35px;
}

.person-desc {
    display: inline-block;
    line-height: 180%;
    margin-bottom: 42px;
}

.person-btn--link {
    padding: 8px 18px;
}


/* acc */

.accordion-block {
    margin-right: 30px;
}