.guests {
    background-color: var(--black);
    padding: 80px 0;
}

.guests__content {
    display: flex;
    flex-direction: column;
}

.guests__title-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    margin-bottom: 50px;
}

.guests__title {}

.guests__desc {
    font-family: 'Muller_Medium';
}

.guests__accordion-block {
    width: 100%;
}

.guests__profile {
    display: flex;
    justify-content: space-between;
}

.person-item {
    width: 350px;
}

.social-container {}

.social-list {}

.social-item {}

.social-link {}

.person-name {
    margin-bottom: 8px;
    margin-bottom: 30px;
}

.person-desc {
    line-height: 180%;
}

.person-btn {
    margin-top: 30px;
}


/* acc */

.accordion-block {
    margin-right: 30px;
}