.header {
    border-bottom: 1px solid var(--light_color);
    padding-top: 23px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-top__menu-wrapper {
    display: flex;
}

.header-top__logo {
}

.header-top__logo-img {
}

.header-top__nav {
    margin-left: 80px;
}

.header-top__nav-list {
    display: flex;
}

.header-top__nav-item {
}

.header-top__nav-item:not(:last-child) {
    margin-right: 59px;
}

.header-top__nav-link {
    font-size: var(--fz-20);
}

.header-top__enter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__enter-wrapper > button:first-child {
    margin-right: 22px;
}

.sub-header {
    border-bottom: 1px solid var(--light_color);
    padding: 12px 0;
    position: relative;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom__play-podcasts{
    margin-left: 4px;
}
.header-bottom__nav-wrap{
    display: flex;
    align-items: center;

}
.header-bottom__nav-menu ul{
    display: flex;
}
.header-bottom__nav-menu:first-child{
    margin-right: 52px;
}
.header-bottom__nav {
    position: relative;
    display: flex;
}


.header-bottom__item {

}

.header-bottom__item:not(:last-child) {
    margin-right: 53px;
}

.header-bottom__link {
    font-size: 1rem;
    color: var(--black);
}

.header-bottom__radio-list {
    display: flex;
}

.header-bottom__radio-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 9px;
}
.header-bottom__radio-item:before{
    position: absolute;
    content: '';
    height: 40px;
    width: 1px;
    background-color: var(--light_color);
    left: 0;
}
.header-bottom__radio-item:nth-child(2):after{
    position: absolute;
    content: '';
    height: 40px;
    width: 1px;
    background-color: var(--light_color);
    right: -39px;
}
.header-bottom__radio-item:not(:last-child) {
    margin-right: 38px;
}

.header-bottom__radio-item--wrap {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header-bottom__radio-item--title {
    text-align: center;
    font-size: 12px;
    color:#A1A6B4;
}


.header-bottom__item-eighteen-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    padding-right: 6px;
    margin-left: 48px;
}

.header-bottom__item-eighteen-plus::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 46px;
    background-color: var(--light_color);
}

.eighteen {
    position: relative;
    border: 1px solid var(--light_color);
    padding: 16px;
    border-radius: 100%;
    background-color: var(--white);
}

.eighteen::after {
    content: '12+';
    position: absolute;
    top: 12px;
    left: 9px;
    font-size: var(--fz_12);
    color: var(--text_gray);
}