.hero {
    /*    background-image: url(../img/microphone.jpg);
    background-position: right center;
    background-repeat: no-repeat; */
    padding: 38px 0 46px 0;
}

.hero__title {}

.hero__info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__desc {
    max-width: 600px;
    margin-bottom: 50px;
}
.weight-600{
    font-family: Muller_Bold;
}