.hero {
    background-image: url(../img/microphone.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    padding: 40px 0 80px 0;
}
.hero__title {
}
.title-h1 {
}
.hero__desc {
   max-width: 600px;
   margin-bottom: 50px;
}