.checkbox_container {
    width: 300px;
    padding: 30px;
    background-color: #fff;
  }
  
  .checkbox_label {
    display: block;
    margin-top: 20px;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
  }
  
  
  
  .check {
    display: none;
  }
  
  .check + span {
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 3px;
  }
  
  .check:checked + span {
    border: 1px solid #CCB26E;
  }
  
  .check + span:before {
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 3px;
    width: 7.33px;
    height: 3.97px;
    box-sizing: border-box;
    content: '';
    border: 1px solid #CCB26E;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
    transition: opacity .3s ease-in-out;
  }
  
  .check:checked + span:before {
    opacity: 1;
  }
  