

*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
    border: none;
}

a {
    text-decoration:none;
  }
li{
    list-style: none;
}
figure,figcaption,ul{
    padding: 0;
    margin: 0;
}
textarea{
    resize: none;
}
button{
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
}
html{
    font-family: Muller_Regular;
    font-size: 16px;
}

/* container */
.container{
    max-width: 1110px;
    margin: 0 auto;
}