* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

figure,
figcaption,
ul {
    padding: 0;
    margin: 0;
}

textarea {
    resize: none;
}

fieldset {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    position: absolute;
    visibility: hidden;
}

input {
    border: none;
    cursor: pointer;
}

label {
    cursor: pointer;
}

button {
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

html {
    font-family: Muller_Regular;
    font-size: 16px;
}

.fz-20 {
    font-size: 20px;
}

/* container */

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.link {
    color: var(--black);
    background-color: transparent;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.link:hover {
    color: var(--base-color);
}

.link:focus {
    color: var(--white);
    background-color: var(--base-color-light);
}

.link:active {
    color: var(--base-color-dark);
    background-color: transparent;
}

.text-link {
    color: var(--primary);
    transition: color .1s ease-in-out;
}

.text-link:hover {
    color: var(--primary_light);
    transition: color .1s ease-in-out;
}

.d-b {
    display: block;
}

.title-h1 {
    color: var(--black);
    font-weight: 700;
    font-size: var(--title_h1_size);
    margin-bottom: 10px;
}

.title-h2 {
    color: var(--black);
    font-weight: 400;
    font-size: var(--title_h2_size);
    margin-bottom: 10px;
}

.title-h3 {
    color: var(--black);
    font-weight: 500;
    font-size: var(--fz-20);
}

.italic-400 {
    font-weight: 400;
    font-style: italic;
}

.desc-16 {
    font-size: 1rem;
    color: var(--black);
    line-height: 150%;
}

.desc-20 {
    font-size: var(--fz-20);
    color: var(--black);
    line-height: 160%;
}


/* colors */

.c_white {
    color: var(--white);
}

.text_gray {
    color: var(--text_gray);
}


/* flex */

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}


/* grid */

.grid {
    display: grid;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: var(--primary);
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: var(--shade_gray);
    color: var(--black);
    font-size: var(--fz_12);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 120%;
    left: -150%;
    position: absolute;
    z-index: 1;
    padding: 5px;
    box-shadow: 0 0 5px #b7b7b7;
}

.tooltiptext:before {
    position: absolute;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid var(--shade_gray);
    bprder-top: 8px solid var(--shade_gray);
    top: -19%;
    transform: rotate(90deg);
    right: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
