.playlists {
    padding: 92px 0 92px 0;
}

.playlists__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.playlists__left {
    margin-right: 30px;
}

.playlists__title {
    margin-bottom: 6px;
}

.label-wrap {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--shade_gray);
}

.label-desc {
    color: var(--text_gray);
    margin-bottom: 10px;
}

.playlists__desc {
    margin-bottom: 2px;
    color: var(--text_gray);
    line-height: 22px;
}

.checkbox_label {
    display: flex;
    align-items: center;
    font-size: var(--fz-20);
}


.playlists__copyright {
    margin-bottom: 17px;
    font-family: Muller_light-italic;
    color: var(--text_gray);
}


.playlists__list {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 30px;
}

.playlists__item {
    position: relative;
}

.playlists__item .playlists__country-img {
    position: absolute;
    right: 0;
    padding: 4px;
    background-color: var(--black);
}



.profile-desc {
    margin-top: -5px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 15px;
    border: 1px solid var(--light_color);
    font-size: 15px;
}

.playlists__profile-title {
    margin-bottom: 4px;
}

.playlists__profile-desc {
    font-size: var(--fz_12);
    color: var(--text_gray);
}

.plus::before {
    position: absolute;
    content: '';
    top: -13px;
    left: 0px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid var(--text_gray);
}

.plus {
    position: relative;
    padding-right: 12px;
    font-size: 12px;
    color: var(--text_gray);
}

.plus::after {
    position: absolute;
    top: -2px;
    left: 6px;
    content: "18+";
}