.transmission {
    padding: 92px 0;
}

.transmission__wrap-container {
    display: flex;
    gap:30px;
}

.transmission__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transmission__title {}

.dropdown-wrap {}

.drop-desc {
    color: var(--text_gray);
    margin-bottom: 4px;
}
.choices__list--single{
    padding: 4px 0px 1px 1px;
}
.archive-wrap {
    background-image: url(../img/mic.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 114px;
}

.archive-desc {
    margin-top: 9px;
    line-height: 26px;
    color: var(--text_gray);
}
.archive-desc span {
    font-family: Muller_Medium;
}

.transmission__right {}

.transmission__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 17px;
}

.transmission__item div {
    border: 1px solid var(--light_color);
    padding: 19px 0 18px 14px;
    margin-top: -6px;
}

.transmission__desc {
    font-size: var(--fz-20);
    font-weight: 500;
}

.transmission__annotation {
    margin-bottom: 19px;
}

.annotation {
    display: block;
    color: var(--text_gray);
    font-size: var(--fz_12);
}

.transmission__btn {
    padding-left: 0;
}

.choices__list--dropdown, .choices__list[aria-expanded]{
    padding-top: 15px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item{
    padding: 12px;
}